name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip modules
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('setup.py') }}
      - name: Run tests
        run: |
          pip install --upgrade pip wheel
          pip install -e .[dev]
          py.test test/ --mypy --pylint mothrpy --cov mothrpy --cov-report=xml
      - name: Upload code coverage
        uses: codecov/codecov-action@v1
        # Only upload coverage report once
        if: matrix.python-version == '3.7'
